In [2]:
import pandas as pd

data = {
    "column1": ["a", "a", "a", "b", "b", "b", "c", "c", "c", "d", "d"],
    "column2": [
        "apple", "ant", "arrow",
        "ball", "bat", "boat",
        "cat", "car", "cup",
        "dog", "door"
    ]
}

df = pd.DataFrame(data)
print(df)

   column1 column2
0        a   apple
1        a     ant
2        a   arrow
3        b    ball
4        b     bat
5        b    boat
6        c     cat
7        c     car
8        c     cup
9        d     dog
10       d    door

In [12]:
df = df.groupby("column1")["column2"].apply(lambda x: "|".join(x))

In [8]:
for index, row in df.iterrows():
  for words in row['column2']:
    words.split('|')

In [13]:
df

column1
a    apple|ant|arrow
b      ball|bat|boat
c        cat|car|cup
d           dog|door
Name: column2, dtype: object

In [15]:
df = df.reset_index()
df['column2'] = df['column2'].str.split('|')
df = df.explode('column2')
print(df)

  column1 column2
0       a   apple
0       a     ant
0       a   arrow
1       b    ball
1       b     bat
1       b    boat
2       c     cat
2       c     car
2       c     cup
3       d     dog
3       d    door